.richtext-rounded-\[0\.5rem\] {
  border-radius: 0px;
}

.ProseMirror {
  .tableWrapper {
    table {
      min-width: 644px !important;
    }
  }
}

.content .tiptap.ProseMirror {
  padding: 0px !important;
  min-height: 0px !important;
}
.richtext-flex.richtext-items-center.richtext-justify-between.richtext-p-3.richtext-border-t {
  display: none;
}

.ProseMirror-trailingBreak {
  display: none;
}
